# markdown
## markdown
### markdown
#### markdown
##### markdown
###### markdown

### for italic and bold
* *print1*
* **print2**
* ***print3***

- normal text
    - student1
    - student2

![image](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3U395ziep96QBCJyCzDy3OspiEq2QzXpoBcKrH_kgGcRqvPNKVw&s)

* [120]
[1](https://drive.google.com/drive/my-drive)

In [1]:
print("hello,gitam")

hello,gitam

In [2]:
print("hello,gitam",end="$$")
print("naresh")

hello,gitam$$naresh

In [ ]:
a = 10 # single variable assignment
a, b, c, ==a = 7 # multi variable assignment
a, b, c, = 7, 8, 9, # multi variableassignment diff values
b = 20
c = 50

In [3]:
a = "pyton"
b = "p"
type(a)
c=10
type(c)

int

In [5]:
a = 10.5
print(type(a))
id(a)

<class 'float'>

63530736

In [8]:
name = "Naresh"
age = "20 "
print("my name is",name,"and age is", age)

my name is Naresh and age is 20

In [11]:
a = b = 20 # multi variable assigment with single value

In [12]:
a

20

In [13]:
a = input("enter a string")
type(a)

enter a stringsai

str

In [14]:
a = int(input('enter a number'))
type(a)

enter a number1234

int

In [15]:
d = float(input("enter a number"))
type(d)

enter a number63325

float

In [16]:
a = int(input("enter a number"))
b = int(input("enter a number"))
c = a*b
print(c)

enter a number9
enter a number5
45

In [17]:
a = int(input("enter a number"))
b = int(input("enter a number"))
c = a-b
print(c)

enter a number8
enter a number9
-1

In [19]:
a = int(input("enter a number"))
b = int(input("enter a number"))
c = a/b
print(c)

enter a number6
enter a number4
1.5

In [ ]:
# fundamental data types
# int
# float
# complex
# boolean
# string

In [20]:
x = 10
print(x)
type(x)

10

int

In [21]:
y = 2.5
print(y)
type(y)

2.5

float

In [22]:
z =2+3j
print(z)
type(z)

(2+3j)

complex

In [23]:
x = float(12)
x

12.0

In [24]:
y = complex(2,1)
y

(2+1j)

In [25]:
c = 2+3j
v = 3+2j
print(c+v)
print(c-v)
print(c*v)
print(c/v)

(5+5j)
(-1+1j)
13j
(0.9230769230769231+0.38461538461538464j)

In [26]:
a = True
type(a)

bool

In [27]:
b = False
type(b)

bool

In [28]:
a>b

True

In [30]:
# strings
s1 = "abc"
s2 = 'abc'
print(s1)
s2

abc

'abc'

In [31]:
type(s1)
type(s2)

str

In [32]:
i = 198
print(type(i))

<class 'int'>

In [33]:
s1 = str(i) # str covnerts the  input into string
print(s1)
type(s1)

198

str

In [5]:
i=10
f = float(i) # float converts the input into float type
print(f)
type(f)

10.0

float

In [6]:
a = "100"
print(type(a))

<class 'str'>

In [7]:
a = int(a)
type(a)

int

In [8]:
f = 1.5
type(f)

float

In [9]:
a1 = int(f)
type(a1)

int

In [10]:
a = "12345"
len(a) # returns the length of the string

5

# operators

# 1.arthmetic operators: + - * / //
# 2.logical  operators: and or not
# 3.Relational operators: <,<=, >, >= ==, !=
# 4. membership operators: in, not in

# 1. arithmetic operators : +, -, *, /, %, //, **
# +- add
# - sub
# * multiplication
#  % modular division
# //  modular division
#  ** exponential

In [11]:
n1 = 2
n2 = 3
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1/n2) 
print(n1%n2)
print(n1//n2)
print(n1**n2)

5
-1
6
0.6666666666666666
2
0
8

In [12]:
2*3

6

In [13]:
2**3

8

In [14]:
2/3

0.6666666666666666

In [15]:
2//3

0

In [1]:
-12%32

20

In [2]:
# logical operators
x = 3
y = 7
print(x>=5 and x<10) # checks for two conditions
print(x>=5 or x<=10) # checks for either of the condition
print(not(x))

False
True
False

In [3]:
# relations operators
x = 5
y = 3
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)

False
True
True
False
False
True

In [4]:
# membership operators
str1 = "abc"
print("a" in str1)
print("a" not in str1)

True
False

# conditional statements

In [ ]:
1.if
2.if else
3.elif

# syntax:
. if condition:

    -statements

# syntax
  -if condition:
  
      -statements
      
   -else:
   
 
       -statements

# syntax :- (elseif) else part is optional
 - if condition 
     -statement
  -elif:
      - statements 
      
   -elif:
       -statements
       
   -elif:
       -statements
       
    -else:
        -statements

In [6]:
# to check given positine number
a = 10
if a>0:
    print("positive")

positive

In [11]:
# to check given positine number
a = -10
if a>0:
    print("positive")
else:
    print("negative")

negative

In [16]:
# to check given positine number
a = 0
if a>0:
    print("positive")
elif:a<0:
    print("negative")
else:
    print("zero")

SyntaxError: invalid syntax (<ipython-input-16-2918c110bf14>, line 5)

#  to check  given number is even or odd
# to check given number is multiple 3 and 5
# to check  the input leap year or not
# find ouyt the biggest of three numbers a, b,c 
# read the character and find whether it is vowel or constant